/* Допоміжний класс. щоб відключити секціїю Також в секції добавляємо цей клас. потім його відключаємоколи починаємо з ним працювати  */
.hidden {
    display: none;
} 
/* незабути видалити!!!!!!! */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}


ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* common */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
.container {
    max-width: 768px;   
    }
}


@media screen and (min-width: 1158px) {
    .container {
    max-width: 1158px;
    padding: 0 15px;    
    }
}

/*========== nav (header)========== */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);

}
/* .page-header застосовується одночасно для мобілки, планшета, десктопа */
 
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;   
    
    
}

.nav-list,
.address
 {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 16px 0;
}

.logo-nav {
    
    display: block;
        
}

.logo-nav .logo-span {
    
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {

.header-container {
        display: flex;
        align-items: center;
    }
.burger-btn {
       display: none;
    }
.nav-header {
    display: flex;
    align-items: center;
    }
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;

}
.logo-nav {
    padding: 24px 0;
    margin-right: 120px;
}
.nav-link {
    position: relative;
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.current::after {
    opacity: 1;
}
.address {
    font-style: normal;
    display: block;

}
.address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.address-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus,
.nav-link.current {
    color: #404bbf;
}


}


@media screen and (min-width: 1158px) {

.logo-nav {    
    margin-right: 76px;
    }

.address-list {  
    flex-direction: row; 
    align-items: center;
    gap: 40px;
}


.address-link {
    
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

}

/* ====mobile menu==== */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}


.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;

}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-nav-list {
    display: block;
    align-items: center;
    /* gap: 40px; */
}

.mobile-nav-link {
    position: relative;
    display: block;
    padding-bottom: 40px;

font-family: "Roboto", sans-serif;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
}

.mobile-address-link {
    font-style: normal;
    display: block;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #4d5ae5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}


.mobile-mail {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    padding-bottom: 48px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link:hover,
.mobile-nav-link:focus,
.mobile-address-link:hover,
.mobile-address-link:focus,
.mobile-nav-link.current {
    color: #404bbf;
}


.team-list {
    display: flex;
    align-items: center;
   
    gap: 24px;
    
}

.team-icons-list {
    display: flex;
    align-items: center;

    width: 280px;
    height: 40px;
    gap: 24px;
    fill: #f4f4fd;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    gap: 24px;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.team-icons-card:hover,
.team-icons-card:focus {
    background-color: #404bbf;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}


.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 24px;
    height: 24px;
    fill: #2e2f42;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
   stroke-width: 1px;
   stroke: #2e2f42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 100%;
    
   
}

.mobile-menu-close-icon {

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}



@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;        
    }
}
/* ==== 1 ==== */

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 320px;
    min-height: 432px;
    margin: 0 auto;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.hero-title {
    text-align: center;
    max-width: 216px;
    margin: 0 auto 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    color: #ffffff;
    
}

.hero-button {
    margin: 0 auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}



@media screen and (min-width: 768px) {
    .hero-section {
        max-width: 768px;
        min-height: 436px;

    }

    .hero-title {
        text-align: center;
        max-width: 496px;
        margin: 0 auto 48px;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #ffffff;

    }

}


@media screen and (min-width: 1158px) {

    .hero-section {
        max-width: 1440px;
        min-height: 600px;
    }

}

/* ==== 2 ==== */

.icon {

    display: none;
}

.solutions-list {
    display: flex;    
    flex-direction: column;
    gap: 72px;
    padding-top: 96px;
    padding-bottom: 96px;
}

.solutions-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;


}

.solutions-titles {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
   
    margin-bottom: 8px;
    text-align: center;

}

.solutions-text {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



@media screen and (min-width: 768px) {

.icon {

    display: none;
}

.container {
    max-width: 768px;
}
.solutions-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
}



.solutions-list-item {
    flex-basis: calc((100% - 48px) / 2);
}


  .solutions-titles {
    text-align: left;
    font-weight: 700;
    font-size: 36px;
      
  }

    .solutions-text {

    font-weight: 500;
        
    }


}

@media screen and (min-width: 1158px) {

    .solutions-section {
            padding: 120px 0;
        }

.solutions-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

   .visually-hidden {
       position: absolute;
       width: 1px;
       height: 1px;
       margin: -1px;
       border: 0;
       padding: 0;
       white-space: nowrap;
       clip-path: inset(100%);
       clip: rect(0 0 0 0);
       overflow: hidden;
   }

   .solutions-list {
       display: flex;
       gap: 24px;
       align-items: center;
       max-width: 1128px;
   }

   .solutions-list-item {
       flex-basis: calc((100% - 72px) / 4);
   }
    .icon {
        display: flex;
        gap: 24px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background-color: #f4f4fd;
        margin-bottom: 8px;
        align-items: center;
        justify-content: center;
    }


    .solutions-titles {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }

    .solutions-text {

        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }

}

/* ==== 3 ==== */


.team-section {
    background-color: #f4f4fd;
    padding: 96px 0;
}

.team-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    
}

.team-icons-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 264px;
    fill: #f4f4fd;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.team-icons-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    gap: 24px;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.team-icons-card:hover,
.team-icons-card:focus {
    background-color: #404bbf;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}



.tli {
    border-radius: 0px 0px 4px 4px;
    width: 264px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    background: #ffffff;
}

.tli-dli {
    width: 264px;
    padding: 32px 0;
}

.team-titles {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;

}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
    
}




@media screen and (min-width: 768px) {


    .team-list {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 24px;
        row-gap: 64px;

    }
        
    .tli-dli {
        padding: 32px 0;
    }

}


@media screen and (min-width: 1158px) {

    .team-list {
            display: flex;
            align-items: center;
            /* gap: 24px; */
        }
    
    .tli {
        border-radius: 0px 0px 4px 4px;
        flex-basis: calc((100% - 72px) / 4);
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
            0px 1px 1px 0px rgba(46, 47, 66, 0.16),
            0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        background: #ffffff;
    }

}


/* ==== 4 ==== */


.portfolio-section {
    padding: 96px 0 96px 0;
}

.portfolio-pictures {

    width: 288px;
    height: 280px;
}
.portfolio-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 48px;
    row-gap: 48px;
}

/* ------------------ */

.box {
    position: relative;
    width: 288px;
    height: 280px;
    margin: 0 auto;
    overflow: hidden;
}


.portfolio-list-item {
    
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .overlay {
    transform: translatey(0);
}

/* ---------------------- */

.pli {
    border-top: none;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pli:hover,
.pli:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    background: #ffffff;
}

.portfolio-titles {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {

        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

@media screen and (min-width: 768px) {
    .portfolio-list-item {
        width: calc((100% - 24px) / 2);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }



        .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
    row-gap: 72px;

        }

}


@media screen and (min-width: 1158px) {
    .portfolio-list-item {
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}



/* ==== footer ==== */



.page-footer {

    padding: 96px 0;
    background-color: #2e2f42;
    
    
}

.logo-footer .logo-span {
    color: #f4f4fd;
    
}

.footer-size {
    margin: 0 auto;
}
 
.page-footer .logo {
    
display: flex;
align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    
}


.container-footer {
    display: flex;         
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;

    
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
        padding: 0;
}

.logo-span {
    color: #f4f4fd;
}

.footer-text {
    max-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}


.team-text-icons {
    text-align: center;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;

}
    
.ticgf {
    gap: 16px;
}

.ticg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    gap: 16px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ticg:hover,
.ticg:focus {
    background-color: #31d0aa;
}

.subs-le {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.email-button {
    display: flex;
    margin-left: auto;
}

.email-button-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  
}

.email-footer {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;

}

.but-footer {
    margin-left: 16px;
    fill: #ffffff;

}

.email-footer::placeholder {
    color: #ffffff;
}

.butt-sub {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.butt-sub:hover,
.butt-sub:focus {
    background-color: #31d0aa;

}

.email-footer:hover,
.email-footer:focus {
    border: 1px solid #31d0aa;
}


@media screen and (min-width: 768px) {

.container-footer {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    padding-left: 108px;
    gap: 72px 24px;
    justify-content: left;
             
    }

.footer-size {

    margin: 0;
}
.page-footer .logo {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;        
            
}

.team-text-icons {
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;

}

.team-text-icons {
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;    

}

.ticgf {
    gap: 16px;
    display: flex;
    justify-content: left;

}
       

.email-button-sub {
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 16px;
}


.subs-le {
    align-items: flex-start;
}

}



@media screen and (min-width: 1158px) {}



/* ==== modal window ==== */




.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    width: 288px;
    height: 623px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 16px 16px;
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
    fill: #2e2f42;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    stroke: rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.close-icons {

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover,
.close:focus {
    border: none;
    fill: #ffffff;
    background-color: #404bbf;
}

.text-leave {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

/* end modal */

.form {
    position: absolute;
    width: 256px;
    height: 40px;
   
}

.input-container {
    margin-bottom: 8px;
}

.label-form {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.comment-field-ta {
    margin-bottom: 16px;
}

/* comment textarea */

.input-comment {
    width: 360px;
    height: 120px;
}

.input-container-warp {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border-color: #4d5ae5;
}

.svg-text {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus+.svg-text {
    fill: #4d5ae5;
}

.input-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea::placeholder {
    line-height: 2;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    opacity: 1;

}

.input-comment:focus {
    border-color: #4d5ae5;
}

/* ------------------------------------- */

/* check box */

.checkbox-field {
    margin-bottom: 24px;
}

/* decoration text */

.label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;    
    display: flex;

}

.privasy-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

/* decoration text end*/

.custom-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
        

}

.checkbox:checked+.label>.custom-checkbox {
    border: none;
    background-color: #404bbf;
    ;
    border-color: #4d5ae5;
    fill: #F4F4FD;
}

/* end check box */


.button-modal {
    border-radius: 2px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    margin: 0 44px 0 44px;
    display: block;
    background-color: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-color: #4d5ae5;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --- */

.button-modal:hover,
.button-modal:focus {
    background-color: #404bbf;
    border: none;
}

@media screen and (min-width: 768px) {

.modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    }

.form {
    
    width: 360px;
    height: 336px;
}
.label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.button-modal {
       margin: 0 96px 0 95px;
   

}



}

@media screen and (min-width: 1158px) {}

/* @media screen and (min-width: 768px) {
   

}


@media screen and (min-width: 1158px) {
    
    
} 

*/